*.EGG
*.EGG-INFO
*.egg
*.egg-info
*.kpf
*.mo
*.pyc
*.pyo
*.swp
*.tmp*
*.wpr
*~
.*.cfg
.bzr/
.coverage
.hg/
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.svn/
/docs/html/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
htmlcov
include/
lib/
parts/
src/ploneintranet.docconv.client/
uuid.txt
var/

# OSX
.DS_Store
